name: Downgrade Sublibraries
on:
  pull_request:
    branches: [master, main]
    paths-ignore:
      - 'docs/**'
  push:
    branches: [master, main]
    paths-ignore:
      - 'docs/**'
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version: ['1.12']
        project:
          - 'lib/QECCore'
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
      - uses: julia-actions/julia-downgrade-compat@v2
        with:
          projects: ${{ matrix.project }}
          skip: Pkg,TOML,InteractiveUtils,Random,LinearAlgebra
          julia_version: ${{ matrix.version }}
      - uses: julia-actions/julia-buildpkg@v1
        with:
          project: ${{ matrix.project }}
      - uses: julia-actions/julia-runtest@v1
        with:
          project: ${{ matrix.project }}
